extends layout 
block content
    main.all-categories 
        .top-sec
            h3 All Categories
            .top-sec-btns
                .add-btn
                    a(href="/motorverse/category/create") Create Category
                .add-btn
                    a(href="/motorverse/manufacturer/create") Add Manufacturer
        article.categories
            if categories 
                for category in categories 
                    a(href=category.url)
                        h4 #{category.name}
                        p #{category.description}
            else
                .no-match 
                    p No Categories.
                    img(src="/images/search.gif")
        