extends layout 
block content 
    main.makes-list 
        .top-sec
            h3 All Manufacturers 
            .add-btn
                a(href="/motorverse/manufacturer/create") Create Manufacturer
        article.all-makes 
            if manufacturers
                for make in manufacturers 
                    a(href=make.url)
                        h4 #{make.name}
                        p Headquarters: #{make.headquarter}
                        p Founded: #{make.year_founded}
            else 
                .no-match 
                        p No Manufacturers.
                        img(src="/images/search.gif")